[
 ;; session
 {:db/ident :session/key
  :db/id #db/id[:db.part/db]
  :db/valueType :db.type/uuid
  :db/cardinality :db.cardinality/one
  :db/unique :db.unique/value
  :db/index true
  :db/doc "Key to look up session"
  :db.install/_attribute :db.part/db}
]
